@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #374151; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
